/*
 This file contains additional CSS styles in addition to the default themes.
*/

@import url('../reveal.js/css/theme/league.css');


/*
--- General styles, applied document-wide ------------
*/

/* Reduce overall font-size */
.reveal { font-size: 30px; }
/* Smaller title page title */
.title h1 { font-size: 2.4em; } 
/* Make section headings coloured & bold. */
DIV.title { font-weight: bolder; color: #13DAEC; }
/* Make cursive emphasizes coloured. */
.reveal section em { color:rgb(19, 218, 236); }
/* Retuned existing Blockquote style */
.reveal blockquote { 
    background-color: rgba(255, 255, 255, 0.15);
    width: 92%;
    padding: 0px 32px;
    font-weight: 100;
 }
 /* Format code fragments */
 .reveal p code {
    background-color: rgba(255, 255, 255, 0.15);
    color: #aac;
    font-size: 92%;
    padding: 2px 8px;
 }

/* Table header cells */
.reveal TH {
    background-color: rgb(19, 218, 236, .25);
}

/*
--- On demand styles applied -------------------------
*/
section .small .slide-content  {   font-size: 84%; }
section .xsmall .slide-content {   font-size: 72%; }
section .xxsmall .slide-content {   font-size: 64%; }
.reveal .left { text-align: left; }
.reveal .left PRE { margin: 20px 0; width: 100%; }


/* Plain Images w/o border & drop-shadow */
.reveal img.plain, .reveal .plain img {
  margin: 0;
  border: none;
  background: none;
}

/* Top & bottom gaps */
.tgap {  margin-top: 2.4em  }
.bgap {  margin-bottom: 2.4em }